<h1 class="text-3xl text-center mb-2">Modalidades de estudio</h1>
<div class="modalidades">
  <mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Presencial</mat-card-title>
          <img mat-card-sm-image src="pages/licenciaturas/modalidades/presencial.svg" />
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p class="mb-3">
            Sumérgete en el ambiente universitario de la Universidad Mexicana Hipatia, donde la interacción directa con docentes expertos, compañeros y recursos de primer nivel en nuestras instalaciones te preparan para enfrentar los desafíos del mundo real.
        </p>
        <b>Características principales:</b>
        <ul class='list-disc pl-4'>
            <li>Clases prácticas en laboratorios y talleres especializados en áreas como salud, tecnología y justicia.</li>
            <li>Acceso a instalaciones modernas y equipadas.</li>
            <li>Participación en actividades extracurriculares que fortalecen tus habilidades sociales y de liderazgo.</li>
        </ul>
        <br>

        <b>Ideal para estudiantes que buscan:</b>
        <ul class='list-disc pl-4'>
            <li>Una formación integral y presencial.</li>
            <li>Acceso directo a mentores y networking constante.</li>
        </ul>
    </mat-card-content>
  </mat-card>


  <mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Hibrida</mat-card-title>
          <img mat-card-sm-image src="pages/licenciaturas/modalidades/hibrida.svg" />
        </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
        <p class="mb-3">La modalidad híbrida combina sesiones prácticas presenciales con clases virtuales, permitiendo aprovechar al máximo la tecnología educativa sin perder la experiencia del aprendizaje presencial.</p>

        <b>Características principales:</b>
        <ul class='list-disc pl-4'>
            <li>Horarios adaptables para equilibrar actividades personales y académicas.</li>
            <li>Acceso a simuladores y recursos digitales avanzados, complementados con clases presenciales en áreas clave.</li>
            <li>Enfoque en el desarrollo de habilidades prácticas, especialmente en carreras como Odontología, Enfermería y Contaduría.</li>
        </ul>
        <br>
        <b>Ideal para estudiantes que buscan:</b>
        <ul class="list-disc pl-4">
            <li>Flexibilidad sin perder contacto presencial con sus docentes y compañeros.</li>
            <li>Aprendizaje combinado con herramientas modernas y recursos físicos.</li>
        </ul>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>En línea</mat-card-title>
          <img mat-card-sm-image src="pages/licenciaturas/modalidades/enlinea.svg" />
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p class="mb-3">Estudia desde cualquier lugar y adapta tus horarios a tu ritmo de vida, con una plataforma digital que conecta recursos educativos de calidad con la guía de profesores altamente capacitados.</p>

        <b>Características principales:</b>
        <ul class="list-disc pl-4">
            <li>Clases sincrónicas y asincrónicas para mayor flexibilidad.</li>
            <li>Acceso 24/7 a contenidos interactivos, foros, bibliotecas virtuales y herramientas colaborativas.</li>
            <li>Programas diseñados para garantizar aprendizaje práctico, incluso en modalidad remota.</li>
        </ul>
        <br>
        <b>Ideal para estudiantes que buscan:</b>
        <ul class="list-disc pl-4">
            <li>Compatibilidad entre estudios, trabajo y responsabilidades personales.</li>
            <li>Educación de calidad sin necesidad de trasladarse al campus.</li>
        </ul>
    </mat-card-content>
  </mat-card>


  <mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Ejecutiva</mat-card-title>
          <img mat-card-sm-image src="pages/licenciaturas/modalidades/ejecutiva.svg" />
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p class="mb-3">Diseñada para quienes desean continuar su formación mientras desarrollan su carrera profesional.
            Esta modalidad está enfocada en el aprendizaje práctico y la optimización del tiempo.</p>
        <b>Características principales:</b>
        <ul class="list-disc pl-4">
            <li>Horarios enfocados en fines de semana o sesiones intensivas.</li>
            <li>Contenidos adaptados a las demandas del mercado laboral actual.</li>
            <li>Énfasis en habilidades gerenciales, estratégicas y técnicas.</li>
        </ul>
        <br>
        <b>Ideal para estudiantes que buscan:</b>
        <ul class="list-disc pl-4">
            <li>Equilibrar sus estudios con una agenda laboral activa.</li>
            <li>Potenciar sus competencias profesionales de manera efectiva.</li>
        </ul>
    </mat-card-content>
  </mat-card>
  
</div>