<app-basecarrera
    carrera="Licenciatura en Derecho."
    introCarrera="Formamos abogados con una sólida preparación jurídica, capaces de defender la justicia y los derechos humanos."
    perfilAspirante="La licenciatura en derecho es para ti si: 
    <ul class='list-disc pl-4'>
        <li>Te interesa aprende a interpretar y emplear la legislación/li>
        <li>Te visualizas brindando asesoría legal.</li>
        <li>Te gusta solucionar conflictos mediante la legalidad.</li>
    </ul>"
    aprendizaje="Mientras estudias Derecho, aprenderás a:
    <ul class='list-disc pl-4'>
        <li>Desarrollar un análisis crítico. </li>
        <li>Desenvolverte en medios jurídicos con una buena argumentación.</li>
        <li>Resolución de conflictos.</li>
    </ul>"
    perfilEgresado="Nuestros egresados estan capacitados para que, mediante el análisis crítico, argumentación y resolución de conflictos lideren áreas legales, empresariales y sociales con integridad y responsabilidad."
    empleabilidad="
    Nuestro egresado podrá trabajar en:
    <ul class='list-disc pl-4'>
        <li>Bufetes jurídicos.</li>
        <li>Organizaciones públicas y privadas como asesor legal.</li>
        <li>Despachos como abogado corporativo.</li>
    </ul>"
></app-basecarrera>
