<h1 class="text-4xl text-center pb-5">Contáctanos</h1>

<div class="flex">
    <div class="w-1/2">
        <img src="pages/contactanos/contactanos.png" />
    </div>
    <div class="w-1/2">
        
        <form  [formGroup]="frmContactanos" (submit)="contactanos(frmContactanos.value)" class="example-form">

            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput formControlName="name" />
              </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" placeholder="usuario@mail.com">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Celular</mat-label>
                <input type="number" matInput formControlName="cel" placeholder="">
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>Mensaje</mat-label>
                <textarea matInput formControlName="message"></textarea>
            </mat-form-field>

            <button mat-flat-button extended class="w-full">Enviar formulario</button>

          </form>

    </div>
</div>

