<h1 class="text-4xl text-center pb-5">Contáctanos</h1>

<div class="flex">
    <div class="w-1/2">
        <img src="pages/contactanos/contactanos.png" />
    </div>
    <div class="w-1/2">
        
        <form class="example-form">

            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput [formControl]=" name" >
                @if ( name.hasError('required')) {
                  <mat-error>Nombre es <strong>requirido</strong></mat-error>
                }
              </mat-form-field>
  

            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
              @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                <mat-error>Por favor ingrese un email valido</mat-error>
              }
              @if (emailFormControl.hasError('required')) {
                <mat-error>Email es <strong>requirido</strong></mat-error>
              }
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>Celular</mat-label>
                <input type="number" matInput [formControl]="cel" placeholder="">
                @if (cel.hasError('required')) {
                  <mat-error>Celular es <strong>required</strong></mat-error>
                }
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>Licenciatura</mat-label>
                <input type="email" matInput [formControl]="licenciatura" placeholder="">
                @if (licenciatura.hasError('required')) {
                  <mat-error>Licenciatura es <strong>requerido</strong></mat-error>
                }
            </mat-form-field>


          </form>

    </div>
</div>

