<h1 class="text-4xl text-center pb-5">Contáctanos</h1>

    <!--  -->

<div class="flex">
    <div class="w-1/2">
        <img src="pages/contactanos/contactanos.jpg" />
    </div>
    <div class="w-1/2">
        <div *ngIf="statusForm() != 'Enviar'"  class="p-2  example-form mb-2 text-sm text-blue-800 rounded-lg bg-blue-50" role="alert">
            <span [innerHTML]="statusForm()" ></span>
          </div>
                
        <form  [formGroup]="frmContactanos" (submit)="contactanos(frmContactanos.value)" class="example-form">

            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput formControlName="name" />
              </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" placeholder="usuario@mail.com">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Celular</mat-label>
                <input type="number" matInput formControlName="cel" placeholder="">
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>Mensaje</mat-label>
                <textarea matInput formControlName="message"></textarea>
            </mat-form-field>

            <button [disabled]="btnStatus() || frmContactanos.invalid" mat-flat-button extended class="w-full" [innerHTML]="statusForm()"></button>

          </form>

    </div>
</div>

