<h1 class="text-4xl text-center pb-2 ">Nosotros</h1>

<img src="pages/nosotros/nosotros.jpg" />
<h3 class="mt-5 mb-1 text-2xl">Universidad Mexicana Hipatia</h3>

<h3 class="mt-5 mb-1 text-2xl">¿Quiénes somos?</h3>
<p>En la Universidad Mexicana Hipatia, somos una institución educativa que nace con la convicción de
transformar vidas a través del conocimiento, la ética y el compromiso social. Inspirados por la
célebre filósofa y científica Hipatia de Alejandría, trabajamos para formar profesionales con un alto
sentido de liderazgo, capaces de servir a la sociedad y generar un impacto positivo en su entorno.
Nos especializamos en ofrecer una educación integral, basada en la excelencia académica, la
innovación y la formación de valores. Nuestro enfoque multidisciplinario abarca áreas fundamentales
como la salud, la tecnología, la justicia, las ciencias administrativas y la mercadotecnia, con
programas diseñados para responder a las necesidades actuales y futuras del mundo.
</p>
<p>Más que una universidad, somos una comunidad educativa comprometida con el crecimiento
personal y profesional de nuestros estudiantes, proporcionándoles las herramientas necesarias para
destacar en sus campos y contribuir al bienestar de sus comunidades.
</p>
<p>En la Universidad Mexicana Hipatia, creemos que el conocimiento no solo transforma a las
personas, sino que también impulsa la evolución de la sociedad hacia un futuro más justo, inclusivo
y sostenible.</p>


<h3 class="mt-5 mb-1 text-2xl">Visión</h3>
<p>Ser una institución líder en educación superior, reconocida por su excelencia académica, innovación
y compromiso con la formación de líderes con un profundo sentido ético y humano. Aspiramos a
transformar vidas a través de programas educativos de vanguardia, fomentando el desarrollo integral
de nuestros estudiantes para que contribuyan activamente al progreso de la sociedad, guiados por
los valores de servicio, responsabilidad y conocimiento.
</p>


<h3 class="mt-5 mb-1 text-2xl">Misión</h3>
<p>La Universidad Mexicana Hipatia tiene como misión formar líderes profesionales con una sólida
preparación académica, ética y humanista, comprometidos con el servicio a la sociedad. A través de
una educación de calidad, buscamos desarrollar en nuestros estudiantes el conocimiento, las
habilidades y los valores necesarios para enfrentar los retos del mundo moderno, promoviendo la
justicia, la innovación y el bienestar social.
</p>
<p>Enfocados en transformar vidas, nuestro modelo educativo integra la excelencia académica con un
enfoque práctico y multidisciplinario, preparando a nuestros egresados para ser agentes de cambio
en las áreas de salud, tecnología, justicia, administración y mercadotecnia, con impacto local,
nacional e internacional.
</p>
<br /><br /><br />