<app-basecarrera
    carrera="Licenciatura en Mercadotecnia."
    introCarrera="Formamos expertos en estrategias de mercado, que poseen habilidades para comprender al consumidor, son capaces de desarrollar campañas creativas y posicionar marcas en un entorno competitivo."
    perfilAspirante="La carrera de mercadotecnia  es para ti si: 
    <ul class='list-disc pl-4'>
        <li>Te interesa el desarrollo y posicionamiento de marcas.</li>
        <li>Si quieres aprender a desarrollar campañas impactantes para promover marcas.</li>
        <li>Se te facilita identificar canales de distribución. </li>
        <li>Quieres aprender sobre tendencias de mercado para llegar al publico final.</li>
    </ul>"
    aprendizaje="Mientras estudies, aprenderás a:
    <ul class='list-disc pl-4'>
        <li>Elaborar campañas publicitarias y de promoción. </li>
        <li>Desarrollar las herramientas del marketing para darle rumbo a un producto.</li>
        <li>Realizar investigaciones de marcado.</li>
        <li>Definir y contratar medios.</li>
    </ul>"
    perfilEgresado="Nuestros egresados son líderes en el diseño de soluciones comerciales innovadoras, basadas en la investigación y la comunicación efectiva."
    empleabilidad="
    Nuestro egresado podrá trabajar en:
    <ul class='list-disc pl-4'>
        <li>Empresas públicas y privadas, desarrollando planes estratégicos de marketing.</li>
        <li>Agencias de publicidad y diseño, creando campañas publicitarias. </li>
        <li>Consultorías de mercadotecnia</li>
    </ul>"
></app-basecarrera>

