<app-basecarrera
    carrera="Licenciatura en Odontología."
    introCarrera="Formamos odontólogos comprometidos con la salud bucal y el bienestar integral de las personas. A
    través de un enfoque práctico y científico, nuestros estudiantes desarrollan habilidades para
    prevenir, diagnosticar y tratar enfermedades bucales, destacándose por su ética, precisión y empatía
    al servicio de la comunidad."
    perfilAspirante="
    La carrera de Odontología es para ti, si: 
    <ul class='list-disc pl-4'>
        <li>Te interesa cuidar la salud de las personas.</li>
        <li>Te interesa la educación en materia de salud dental.</li>
        <li>Sientes pasión por aliviar y dar solución a problemas dentales.</li>
    </ul>"
    aprendizaje="Mientras estudie aprenderás a:
    <ul class='list-disc pl-4'>
        <li>Diseñar tratamientos preventivos y restaurativos para afecciones bucales.</li>
        <li>Diagnosticar afecciones bucales </li>
        <li>Manejo de herramientas especializadas odontológicas.  </li>
    </ul>"
    perfilEgresado="Nuestros egresados tendrán: 
    <ul class='list-disc pl-4'>
        <li>Aportaciones a la práctica odontológica, la enseñanza y la investigación.</il>
        <li>Conocimientos sólidos, capacidades y habilidades de alta calidad, así como niveles elevados de competencia clínica.</il>
        <li>Un adecuado desempeño en posiciones de liderazgo.</il>
    </ul>"
    empleabilidad="Nuestro egresado podrá trabajar en:
    <ul class='list-disc pl-4'>
        <li>Clínicas de atención odontológica. </li>
        <li>De manera privada en un consultorio propio. </li>
        <li>Docencia o investigación. </li>
    </ul>"
></app-basecarrera>




