<app-basecarrera
    carrera="Licenciatura en Ciencias de la Comunicación."
    introCarrera="Formamos profesionales en la creación y gestión de mensajes estratégicos, capaces de analizar el entorno comunicativo, diseñar contenidos innovadores y conectar con audiencias en un mundo digital y globalizado."
    perfilAspirante="La carrera de Ciencias de la Comunicación es para ti si:   : 
    <ul class='list-disc pl-4'>
        <li>Te apasiona contar historias y crear contenido relevante en diferentes medios y plataformas.</li>
        <li>Tienes interés por los medios de comunicación, el periodismo o la comunicación digital.</li>
        <li>Eres creativo y te gusta analizar fenómenos sociales y culturales.</li>
        <li>Quieres aprender a manejar herramientas audiovisuales, narrativas y estratégicas para impactar en diferentes públicos.</li>
    </ul>"
    aprendizaje="Durante la carrera, adquirirás conocimientos y habilidades para:
    <ul class='list-disc pl-4'>
        <li>Diseñar campañas de comunicación integrales (publicidad, relaciones públicas, marketing digital).</li>
        <li>Producir contenidos audiovisuales, periodísticos y multimedia.</li>
        <li>Analizar tendencias sociales y mediáticas para crear mensajes efectivos.</li>
        <li>Gestionar la comunicación organizacional en empresas e instituciones.</li>
    </ul>"
    perfilEgresado="Nuestros egresados son líderes en el diseño de soluciones comerciales innovadoras, basadas en la investigación y la comunicación efectiva."
    empleabilidad="
    Nuestro egresado podrá trabajar en:
    <ul class='list-disc pl-4'>
        <li>Medios de comunicación: redacción, producción audiovisual, periodismo digital o tradicional.</li>
        <li>Agencias de publicidad y marketing: creación de campañas, manejo de redes sociales, branding.</li>
        <li>Comunicación corporativa: relaciones públicas, gestión de imagen institucional.</li>
        <li>Industria audiovisual: guionismo, producción, dirección de contenidos.</li>
        <li>Emprendimiento: desarrollo de proyectos propios en comunicación digital o consultoría.</li>
    </ul>"
></app-basecarrera>

