 <app-basecarrera
    carrera="Licenciatura en Enfermería."
    introCarrera="Preparamos profesionales en el cuidado de la salud, con sólidos conocimientos en atención clínica y comunitaria."
    perfilAspirante="La carrera de enfermería es para ti si: 
    <ul class='list-disc pl-4'>
        <li>Te interesa cuidar la salud de otras personas.</li>
        <li>Te gusta mejorar la calidad de vida de los demás a través de mejorar su salud. </li>
        <li>Quieres aprender temas relacionados con la salud y el bienestar. </li>
        <li>Sientes pasión por vocación por servir y ayudar a los demás.</li>
    </ul>"
    aprendizaje="Mientras estudies, aprenderás a:
    <ul class='list-disc pl-4'>
        <li>Brindar atención clínica especializada a los pacientes. </li>
        <li>Trabajar en equipos interdisciplinarios. </li>
        <li>Manejar correctamente los insumos de enfermería</li>
    </ul>"
    perfilEgresado="Nuestros egresados están capacitados para brindar atención integral, basada en la ciencia, la ética y el servicio, buscando al bienestar de las personas y las comunidades con sensibilidad y profesionalismo."
    empleabilidad="
    Nuestro egresado podrá trabajar en:
    <ul class='list-disc pl-4'>
        <li>Hospitales públicos y privados. </li>
        <li>Servicios de enfermería privada.</li>
        <li>Centros educativos de formación de enfermería. </li>
    </ul>"
></app-basecarrera>
