 <app-basecarrera
    carrera="Licenciatura en Enfermería."
    introCarrera="Construccion..."
   
></app-basecarrera>

 <!-- perfilAspirante="La carrera de contaduría es para ti si: 
    <ul class='list-disc pl-4'>
        <li>Te interesa generar y evaluar información contable y administrativa.</li>
        <li>Tienes habilidades de planificación.</li>
        <li>Te gusta el manejo de información financiera.</li>
        <li>Quieres aprender a implementar sistemas de registros contables.</li>
    </ul>"
    aprendizaje="Mientras estudies, aprenderás a:
    <ul class='list-disc pl-4'>
        <li>Diseñar y gestionar sistemas de costos.</li>
        <li>Analizar información financiera para toma de decisiones.</li>
        <li>Planificar y llevar a cabo procesos de auditoria.</li>
    </ul>"
    perfilEgresado="Nuestros egresados están preparados para optimizar recursos, diseñar soluciones financieras y liderar en un entorno global, contribuyendo al crecimiento sostenible de las organizaciones."
    empleabilidad="
    Nuestro egresado podrá trabajar en:
    <ul class='list-disc pl-4'>
        <li>Empresas públicas o privadas</li>
        <li>En instituciones del sistema financiero como bancos, casas de cambio y aseguradoras.</li>
        <li>Instituciones nacionales e internacionales.</li>
    </ul>"-->