<nav >
    <ul class="flex gap-x-4">
        <li>
            <a class="block cursor-pointer"
              routerLinkActive="active-link"
                routerLink="nosotros">Nosotros</a>
        </li>
        <li>
            <a class="block cursor-pointer"
              routerLinkActive="active-link"
                routerLink="licenciaturas">Licenciaturas</a>
        </li>
        <li>
            <a class="block cursor-pointer"
              routerLinkActive="active-link"
                routerLink="contactanos">Contactanos</a>
        </li>
        <li>
            <a class="block cursor-pointer"
              routerLinkActive="active-link"
                routerLink="visitanos">Visitanos</a>      
        </li>
    </ul>
</nav>