<app-swippe>
    <app-slide 
        imagen="pages/licenciaturas/menu/contabilidad.png"
        titulo="Contabilidad"
        link="licenciaturas/contaduria">
        Capacitamos contadores expertos en finanzas, auditoría y gestión empresarial, para que puedan optimizar recursos, diseñar soluciones financieras y liderar en un entorno global, contribuyendo al crecimiento sostenible de las organizaciones.
    </app-slide>

    <app-slide 
        imagen="pages/licenciaturas/menu/odontologia.png"
        titulo="Odontología"
        link="licenciaturas/odontologia">
        Formamos odontólogos comprometidos con la salud bucal y el bienestar integral de las personas, quienes podrán prevenir, diagnosticar y tratar enfermedades bucales, destacándose por su ética, precisión y empatía al servicio de la comunidad.
    </app-slide>

    <app-slide 
        imagen="pages/licenciaturas/menu/derecho.png"
        titulo="Derecho"
        link="licenciaturas/derecho">
        Formamos abogados con una sólida preparación jurídica, capaces de defender la justicia y los derechos humanos, además de desarrollar el análisis crítico, argumentación y resolución de conflictos, preparándose para liderar en áreas legales, empresariales y sociales con integridad y responsabilidad.
    </app-slide>

    <app-slide 
        imagen="pages/licenciaturas/menu/enfermeria.png"
        titulo="Enfermería"
        link="licenciaturas/enfermeria">
        Preparamos profesionales en el cuidado de la salud, quienes se distinguen por su capacidad para brindar atención integral, basada en la ciencia, la ética y el servicio, contribuyendo al bienestar de las personas y las comunidades con sensibilidad y profesionalismo.
    </app-slide>

    <app-slide 
        imagen="pages/licenciaturas/menu/informatica.png"
        titulo="Informática"
        link="licenciaturas/informatica">
        Preparamos especialistas en tecnología de la información, capaces de desarrollar soluciones innovadoras en sistemas, software y redes, para liderar la transformación digital de las organizaciones, destacándose por su creatividad, adaptabilidad y compromiso con la innovación.
    </app-slide>

    <app-slide 
        imagen="pages/licenciaturas/menu/marketing.png"
        titulo="Mercadotecnia"
        link="licenciaturas/marketing">
        Formamos expertos en estrategias de mercado, con habilidades para desarrollar campañas creativas y posicionar marcas en un entorno competitivo, a través del diseño de soluciones comerciales innovadoras, basadas en la investigación y la comunicación efectiva.
    </app-slide>
    
</app-swippe>