<div class="flex">
    <mat-card class="cardlic" appearance="outlined">
        <mat-card-content>
            <img src="swipe/derecho.png" />
            <h3 class="text-center text-2xl">Derecho</h3>
            <p class="text-center">Formamos abogados con una sólida preparación jurídica, capaces de defender la justicia y los derechos humanos. Nuestros estudiantes desarrollan competencias en análisis crítico, argumentación y resolución de conflictos, preparándose para liderar en áreas legales, empresariales y sociales con integridad y responsabilidad.</p>
            <p class="text-center"><a  mat-flat-button href="https://www.google.com/" target="_self">Conocer más</a></p>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="cardlic" appearance="outlined">
        <mat-card-content>
            <img src="swipe/enfermeria.png" />
            <h3 class="text-center text-2xl">Enfermería</h3>
            <p class="text-center">Preparamos profesionales en el cuidado de la salud, con sólidos conocimientos en atención clínica y comunitaria. Nuestros egresados se distinguen por su capacidad para brindar atención integral, basada en la ciencia, la ética y el servicio, contribuyendo al bienestar de las personas y las comunidades con sensibilidad y profesionalismo.</p>
            <p class="text-center"><a  mat-flat-button href="https://www.google.com/" target="_self">Conocer más</a></p>
        </mat-card-content>
    </mat-card>
    
    
    <mat-card class="cardlic" appearance="outlined">
        <mat-card-content>
            <img src="swipe/marketing.png" />
            <h3 class="text-center text-2xl">Mercadotecnia</h3>
            <p class="text-center">Formamos expertos en estrategias de mercado, con habilidades para comprender al consumidor, desarrollar campañas creativas y posicionar marcas en un entorno competitivo. Nuestros egresados son líderes en el diseño de soluciones comerciales innovadoras, basadas en la investigación y la comunicación efectiva.</p>
            <p class="text-center"><a  mat-flat-button href="https://www.google.com/" target="_self">Conocer más</a></p>
        </mat-card-content>
    </mat-card>
</div>