<app-swippe>
    <app-slide 
        imagen="swipe/derecho.png"
        titulo="Derecho"
        link="licenciaturas/derecho">
        Formamos abogados con una sólida preparación jurídica, capaces de defender la justicia y los derechos humanos. 
        Nuestros estudiantes desarrollan competencias en análisis crítico, argumentación y resolución de conflictos, preparándose para liderar en áreas legales, empresariales y sociales con integridad y responsabilidad.
    </app-slide>

    <app-slide 
        imagen="swipe/enfermeria.png"
        titulo="Enfermería"
        link="licenciaturas/enfermeria">
        Preparamos profesionales en el cuidado de la salud, con sólidos conocimientos en atención clínica y comunitaria. 
        Nuestros egresados se distinguen por su capacidad para brindar atención integral, basada en la ciencia, la ética y el servicio, contribuyendo al bienestar de las personas y las comunidades con sensibilidad y profesionalismo.
    </app-slide>

    <app-slide 
        imagen="swipe/marketing.png"
        titulo="Informática"
        link="licenciaturas/informatica">
        Formamos expertos en estrategias de mercado, con habilidades para comprender al consumidor, desarrollar campañas creativas y posicionar marcas en un entorno competitivo. 
        Nuestros egresados son líderes en el diseño de soluciones comerciales innovadoras, basadas en la investigación y la comunicación efectiva.
    </app-slide>
</app-swippe>