<ul class="flex gap-x-2">
    <li>
        <a href="https://api.whatsapp.com/send?phone=5217471240820&text=Hola%2C%20quiero%20informes" target="_blank">
            <img src="/socialnetwork/whatsapp.svg" />
        </a>
    </li>
    <li>
        <a href="https://www.tiktok.com/@universidad.hipat" target="_blank">
            <img src="/socialnetwork/tiktok.svg" />
        </a>
    </li>
    
    <li>
        <a href="https://www.facebook.com/profile.php?id=61573764186307" target="_blank">
            <img src="/socialnetwork/facebook.svg" />
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/hipatiauni/" target="_blank">
            <img src="/socialnetwork/instagram.svg" />
        </a>
    </li>
</ul>