<app-sliders></app-sliders>
<div class="clear-both"></div>
<div>
    <div class="mt-10 flex">
        <div class="lg:w-1/2 px-2 md:w-full">
            <h3 class="text-3xl text-center">
                Por qué elegir la Universidad Méxicana Hipatia
            </h3>
            
            <p class="mt-10 text-center">Más que una universidad, somos una comunidad educativa comprometida con el crecimiento personal y profesional de nuestros estudiantes</p>
            <p class="mt-10 text-center">
                <a mat-flat-button routerLink="nosotros" href="" target="_self">Leer más</a>
            </p>
        </div>
        <div class="lg:w-1/2 hidden md:block ">
            <img src="pages/home/students01.jpg" class="w-full pl-3"  /> 
        </div>
    </div>

    <div class="mt-10 flex">
        <div class="w-1/2 hidden md:block">
            <img src="pages/home/students02.jpg"  class="w-full pr-3"    /> 
        </div>
        <div class="lg:w-1/2 px-2 md:w-full">
            <h3 class="text-3xl text-center">
                Oferta de valor 
            </h3>
            
            <p class="mt-10 text-center">Nos especializamos en ofrecer una educación integral, basada en la excelencia académica, la innovación y la formación de valores. Nuestro enfoque multidisciplinario abarca áreas fundamentales como la salud, la tecnología, la justicia, las ciencias administrativas y la mercadotecnia, con programas diseñados para responder a las necesidades actuales y futuras del mundo.</p>
            
        </div>
       
    </div>
</div>
<div class="mt-6">
    <h3 class="text-3xl text-center mb-3">
        Licenciaturas 
    </h3>
    <app-licenciaturasswipe />
</div>
<br>
<!-- 
<div class="mb-6">
    <app-inscribirtebox></app-inscribirtebox>
</div>-->
 <div class="w-full h-auto">
    <a href="https://maps.app.goo.gl/9v1jehwKpGrPEmy17" target="_blank">
    <img class="w-full" src="pages/home/MapaUniversidadHipatia.jpg" alt=""></a>
 </div>