<app-sliders class=""></app-sliders>
<div class="clear-both"></div>
<div>
    <div class="mt-10 flex">
        <div class="w-1/2">
            <h3 class="text-3xl text-center">
                Por qué elegir la Universidad Méxicana Hipatia
            </h3>
            
            <p class="mt-10 text-center">Más que una universidad, somos una comunidad educativa comprometida con el crecimiento personal y profesional de nuestros estudiantes</p>
            <p class="mt-10 text-center">
                <a mat-flat-button href="https://www.google.com/" target="_self">Leer más</a>
            </p>
        </div>
        <div class="w-1/2">
            <img src="pages/home/students01.png"   /> 
        </div>
    </div>

    <div class="mt-10 flex">
        <div class="w-1/2">
            <img src="pages/home/students02.png"   /> 
        </div>
        <div class="w-1/2">
            <h3 class="text-3xl text-center">
                Oferta de valor 
            </h3>
            
            <p class="mt-10 text-center">Nos especializamos en ofrecer una educación integral, basada en la excelencia académica, la innovación y la formación de valores. Nuestro enfoque multidisciplinario abarca áreas fundamentales como la salud, la tecnología, la justicia, las ciencias administrativas y la mercadotecnia, con programas diseñados para responder a las necesidades actuales y futuras del mundo.</p>
            <p class="mt-10 text-center">
                <a  mat-flat-button href="https://www.google.com/" target="_self">Leer más</a>
            </p>
        </div>
       
    </div>

</div>
<div>
    <h3 class="text-3xl text-center">
        Licenciaturas 
    </h3>
    <app-licenciaturasswipe />
    
</div>


<div class="clear-both"></div>
<br><br>

