<app-sliders class=""></app-sliders>
<div class="clear-both"></div>
<div>
    <div class="mt-10 flex">
        <div class="w-1/2">
            <h1 class="text-2xl">
                Por qué elegir la Universidad Méxicana Hipatia
            </h1>
            
            <p class="mt-10">Más que una universidad, somos una comunidad educativa comprometida con el crecimiento personal y profesional de nuestros estudiantes</p>
            
            <a class="mt-10" mat-flat-button href="https://www.google.com/" target="_self">Leer más</a>
            
            <!-- -->
        </div>
        <div class="w-1/2">
            <img src="pages/home/students01.png"   /> 
        </div>
    </div>
</div>

<div class="clear-both"></div>
<br><br>

