<div class="my-5 mx-auto">
    <h1 class="text-3xl text-center mb-3">Compromiso educativo</h1>
    <p>
        En todas las modalidades de estudio la Universidad Mexicana Hipatia ofrece:
    </p>

    <ul class='list-disc pl-4'>
        <li>Docentes expertos: Profesionales con experiencia en sus campos de especialización.</li>
        <li>Plataformas y recursos avanzados: Acceso a tecnología de punta, simuladores y herramientas digitales.</li>
        <li>Acompañamiento personalizado: Tutores y asesores académicos que guían tu desarrollo profesional y personal.</li>
        <li>Foco en valores y servicio: Una formación que prioriza la ética, el compromiso social y el impacto positivo en la comunidad.</li>
    </ul>
</div>