<app-basecarrera
    carrera="Licenciatura en Informática."
    introCarrera="Preparamos especialistas en tecnología de la información, capaces de desarrollar soluciones innovadoras en sistemas, software y redes."
    perfilAspirante="La licenciatura en informática es para ti, si:
    <ul class='list-disc pl-4'>
        <li>Te interesa desarrollar sistemas de software.</li>
        <li>Te gustaría implementar en las empresas sistemas de redes.</li>
        <li>Quieres administras centros de información.</li>
    </ul>"
    aprendizaje="Mientras estudias Informática aprenderás a:
   
    <ul class='list-disc pl-4'>
        <li>Realizar la instalación física de redes.</li>
        <li>Desarrollar programas y aplicaciones de software.</li>
        <li>Los componentes físicos de del software y hardware.</li>
    </ul>"
    perfilEgresado="Nuestros egresados lideran la transformación digital de las organizaciones, destacándose por su creatividad, adaptabilidad y compromiso con la innovación."
    empleabilidad="
    Nuestro egresado podrá trabajar en:
    <ul class='list-disc pl-4'>
        <li>Empresas que desarrollan software.</li>
        <li>Administrar proyectos tecnológicos.</li>
        <li>Empresas nacionales e internaciones en el área de sistemas.</li>
    </ul>"
></app-basecarrera>