<ul class="flex flex-row gap-5 justify-around items-center">
    <li>
        <a  class="block text-center px-4 py-2 rounded-md"
            routerLinkActive="active-link"
            routerLink="contaduria">
            <div class="mx-auto w-12">
                <img class="cursor-pointer" src="pages/licenciaturas/menu/contabilidad.png" />
            </div>
            <span class="cursor-pointer">Contaduría</span>
        </a>
    </li>
    <li>
        <a  class="block text-center px-4 py-2 rounded-md"
            routerLinkActive="active-link"
            routerLink="derecho">
            <div class="mx-auto w-12">
                <img class="cursor-pointer" src="pages/licenciaturas/menu/derecho.png" />
            </div>
            <span class="cursor-pointer">Derecho</span>
        </a>
    </li>
    <li>
        <a  class="block text-center px-4 py-2 rounded-md"
            routerLinkActive="active-link"
            routerLink="informatica">
            <div class="mx-auto w-12">
                <img class="cursor-pointer" src="pages/licenciaturas/menu/informatica.png" />
            </div>
            
            <span class="cursor-pointer">Informática</span>
        </a>
    </li>
    <li>
        <a  class="block text-center px-4 py-2 rounded-md"
            routerLinkActive="active-link"
            routerLink="enfermeria">
            <div class="mx-auto w-12">
                <img class="cursor-pointer" src="pages/licenciaturas/menu/enfermeria.png" />
            </div>
            <span class="cursor-pointer">Enfermería</span>
        </a>
    </li>
    <li>
        <a  class="block text-center px-4 py-2 rounded-md"
            routerLinkActive="active-link"
            routerLink="odontologia">
            <div class="mx-auto w-12">
                <img class="cursor-pointer" src="pages/licenciaturas/menu/odontologia.png" />
            </div>
            <span class="cursor-pointer">Odontología</span>
        </a>
    </li>
    <li>
        <a class="block text-center px-4 py-2 rounded-md"
        routerLinkActive="active-link"
        routerLink="marketing">
        <div class="mx-auto w-12">
            <img class="cursor-pointer" src="pages/licenciaturas/menu/marketing.png" />
        </div>
        <span class="cursor-pointer">Mercadotecnia</span>
        </a>
    </li>

    <li>
        <a  class="block text-center px-4 py-2 rounded-md"
            routerLinkActive="active-link"
            routerLink="seguridad">
            <div class="mx-auto w-12">
                <img class="cursor-pointer" src="pages/licenciaturas/menu/seguridadPublica.png" />
            </div>
            <span class="cursor-pointer">Seguridad <br> Pública</span>
        </a>
    </li>
</ul>
